
@font-face {
    font-family: "Norse-Bold";
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf)
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color:black;
    display:flex; 
    padding-right:300px;
    padding-left:300px;
}



#main_img {
    width:auto;
    max-height:800px;
    min-height:300px;
}

.img {
    position:relative;
    text-align: center;   
}

#img_cap {
    top:95%;
    left:65%;
    transform:translate(-95%, -65%);
    position:absolute;
    color:white;

}

.inner_img {
    top: 10%;
    left:10%; 
    background-color: rgba(19, 18, 18, 0.694);
    transform: translate(-10%, -10%); 
    position:absolute;
    width:500px;
    color:white;    
    font-family: "Norse-Bold";
}

img {
    width:80px;
    height:auto;
}

label {
    display:block;
    font-size:small;
    font-weight:bold;
    width:200px;
    padding-bottom:3px;
}

fieldset {
    border:none;
    margin-top:30px;
}

input {
    width: 200px; 
    height: 25px;
    border:#E5E7EB;
    border-radius:5px;
    margin-bottom:10px;
    border: black 1px;
}

form {
    box-sizing:border-box;
}

legend {
    font-size: 1.25em;
    padding:.25em;
    font-weight:bold;
    margin-bottom:20px;
    

}

h1 {
    text-align: center;

}

.container {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    box-sizing:border-box;
    gap:30px;
    max-height:250px;
    padding-right:150px;

}

.right_side {
    background-color: turquoise;
   /* justify-content: space-around; */
   padding-top:30px;
   min-width:600px;
}

.section {
    padding-left:40px;
}

#first_section {
    padding-bottom:50px;

}

#second_section {
    background-color: rgba(0, 128, 128, 0.378);
   
    height:300px;
}

#third_section {
    padding-top:100px;
}


a {
    color:#596D48;
    text-decoration: none;
}

#submit {
    background-color: #596D48;
    color:white;
    padding-right:30px;
    padding-left:30px;
    padding-top:15px;
    padding-bottom:30px;
    margin-bottom:30px;
    border-radius: 11px;
    border:none;
    font-weight:bold;
    font-size:medium;
    cursor:pointer;
    
}

input:focus {
    border-color:blue;
    outline:none;
    box-shadow:0 0 5px blue;
    
}

#errorMessage {
    color:red;
}

input:focus .error {
    border-color:red;
    outline:none;
}