body {
    background-color:black;
    display:flex; 
    margin:0;
    padding:0;
    padding-right:300px;
    padding-left:300px;
    font-family: "Norse-Bold";
}


#main_img {
    width:auto;
    max-height:900px;
    min-height:300px;
}

.img {
   
    position:relative;
    text-align: center;   
    
}

#img_cap {
    top:95%;
    left:50%;
    transform:translate(-95%, -50%);
    position:absolute;
    color:white;

}

.inner_img {
    top: 10%;
    left:10%; 
    background-color: rgba(19, 18, 18, 0.694);
    transform: translate(-10%, -10%); 
    position:absolute;
    width:500px;
    color:white;    
}

img {
    width:80px;
    height:auto;
}

label {
    font-size:x-small;
    width:200px;
    padding-bottom:3px;
}

input {
    width: 200px; 
    border:#E5E7EB;
    border-radius:5px;
}

form {
    display:flex;
    flex-direction:column;
}



h1 {
    text-align: center;

}

.right_side {
    background-color: turquoise;
    justify-content: space-around;
}

.section {
    padding-left:75px;
}

#third_section {
    padding-top:50px;
}

#first_section {
    padding-bottom:50px;
}

#second_section {
    display:flex;
    background-color: rgba(0, 128, 128, 0.378);
}

#create {
    background-color: #596D48;
    margin-bottom:20px;
    color:white;
    padding:15px;
    padding-right:30px;
    padding-left:30px;
    border-radius: 11px;
    border:none;
}

a {
    color:#596D48;
    text-decoration: none;
}